/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-primary-5);
  transition: var(--transition);
}
a:hover {
  color: var(--clr-primary-10);
}
/* img {
  width: 100%;
  display: block;
} */
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}
.section {
  padding: 5rem 0;
}
/*.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title span {
  color: var(--clr-primary-5);
}*/
.section-center {
  width: 90vh;
  margin: 0 auto;
  max-width: 1170px;
}
/*@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
} */
/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  z-index: 2;
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav-toggle {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
}
.nav-toggle:hover {
  transform: scale(1.2);
}
.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  color: var(--clr-grey-1);
  cursor: pointer;
  font-size: 1rem;
}
.nav-link:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
  padding-left: 2.25rem;
}
.hom {
  color: var(--clr-primary-1);
}
/* 280px */
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 280px;
}
@media screen and (min-width: 992px) {
  .navbar {
    padding: 1rem 2rem;
  }
  .nav-toggle {
    display: none;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav-links {
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    overflow: visible;
  }
  .nav-header {
    padding: 0 0;
  }
  .nav-link {
    padding: 0 0;
    margin-right: 0.7rem;
  }
  .nav-link:hover {
    padding: 0;
    background: transparent;
    color: var(--clr-primary-5);
  }
}
/* first section */

.introduction {
  background: var(--clr-primary-6);
  height: 500px;
  margin: 4rem 0;
  background-image: url("/images/secondmulti.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section-center {
  display: block;
  padding-top: 5rem;
}
@media screen and (min-width: 992px) {
  u {
    width: 100%;
    border-bottom: 1px solid red;
  }
}
/* second section */
.extra {
  text-align: left;
  max-width: 25rem;
  margin-left: 2rem;
}
.unique {
  border-radius: var(--radius);
  margin: 1rem 0;
}
@media screen and (min-width: 992px) {
  .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.125rem;
  }

  .text {
    max-width: 7rem;
    position: relative;
    margin: 2rem auto;
  }
  .icons {
    font-size: 35px;
    position: absolute;
    transform: translate(-170%, 10%);
    margin: 2rem 1rem;
  }
}
.concept article {
  margin: 1rem 2rem;
}
.working {
  margin: 2rem 1rem;
  max-width: 30rem;
}
/* .concept {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}*/
.concept {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}
/* third section */
.fourth-section {
  margin-bottom: 4rem;
}
.portfolio h2 {
  text-align: center;
}
.achieve {
  margin-top: 2rem;
}
.image {
  height: 350px;
  max-width: 350px;
  object-fit: contain;
  margin: 0.25rem auto;
}
.third-section {
  text-align: center;
}
.third-section article h3,
.third-section article p {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .third-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .image {
    height: 150px;
    max-width: 150px;
    object-fit: contain;
    margin: 0.25rem auto;
  }
}
@media screen and (min-width: 700px) {
  .image {
    height: 150px;
    max-width: 150px;
    object-fit: contain;
    margin: 0.25rem auto;
  }
  .third-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
/* fouth  section*/

.start {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 1rem;
  background-image: url("/images/multicolorpic.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.begin article h2 {
  max-width: 15rem;
}
.achieve {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  justify-content: center;
}
.achieve article h2 .achieve article p {
  position: relative;
}
.achieve article i {
  position: absolute;
  transform: translate(100%, -260%);
}
.first-cards article {
  box-sizing: content-box;
  position: relative;
  top: -90px;
  left: 50px;
  z-index: 1;
  background-color: white;
}
.top-cards article {
  border: 2px solid skyblue;
  border-radius: var(--radius);
  padding: 2rem;
  margin: 0.5rem;
  margin-right: 1rem;
  box-shadow: var(--dark-shadow);
  max-width: 20rem;
}
.second-cards article {
  border: 2px solid skyblue;
  border-radius: var(--radius);
  padding: 2rem;
  margin: 2rem;
  box-shadow: var(--dark-shadow);
  max-width: 20rem;
}
.fifth-button {
  border: var(--radius);
}
@media screen and (min-width: 800px) {
  .special-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* column-gap: 1rem; */
    /* position: relative; */
  }
  .top-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 0.25rem;
  }
  .second-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .info {
    position: absolute;
    max-width: 25rem;
    transform: translate(125%, 50%);
    height: 130vh;
  }
}
/* fifth-section */
.fifth-section {
  background-image: url("/images/secondmulti.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-bottom: 3rem;
}
.sixth {
  border-radius: var(--radius);
  margin: 1rem 0;
}
.article1 {
  max-width: 25rem;
}

.article1,
.article2 {
  margin-top: 3.5rem;
  /* margin-bottom: 4rem; */
}
.article2 .name,
.article2 .email {
  border-radius: var(--radius);
  height: 3rem;
  max-width: 10rem;
  display: block;
  margin: 2rem;
}
.article2 .message {
  border-radius: var(--radius);
  height: 5rem;
  width: 25rem;
  display: block;
  margin: 2rem;
}
.fifth-section article {
  margin: 2rem;
}

@media screen and (min-width: 800px) {
  .fifth-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
  .article2 {
    position: relative;
  }
  .article2 .email {
    position: absolute;
    transform: translate(125%, -230%);
    margin-left: 0.25rem;
  }
  .article2 .message {
    width: 20rem;
  }
  .sixth {
    align-self: right;
  }
}
/* last */
@media screen and (min-width: 800px) {
  .sixth-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  /* footer */
  .social-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    margin: 2rem;
  }
}
.footer {
  text-align: center;
  margin-bottom: 3rem;
}
